body{
    background:gray;
    height: 100px;
    color:black;
}

.sidebar{
    width: 150px;
    height: 100vh;
    position: absolute;
    background: teal;
}

.sidebar a, .sidebar a.active, .sidebar a:hover, .sidebar .logo{
    background: navy;
    text-align: center;
    border: 0px;
}

.sidebar .logo{
    border-bottom: 6px solid white;
}

.sidebar a span{
    font-weight: 100px;
}

.sidebar a:not(.active){
    color: white;
}



.sidebar a.active{
    color: white;
}

.content-site{
    margin-left: 170px;
}

.jumbotron{
    background: blue;
}
